*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,div,p,button{
    font-family: 'Montserrat', sans-serif;
    color: var(--foreground-color);
}
:root{
    --body-color: #232323;
    --header-color: #1B1B1B;
    --accent-color: #BE65C0;
    --foreground-color: #FFF;
    --max-width: 1200px
}
body{
    background: var(--body-color);
}
main{
    max-width: var(--max-width);
    margin: 0 auto;
}