.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    position: absolute;
    background-color: var(--header-color);
    padding: 5px;
    border-radius: 5px 15px;
    z-index: 1;
}