footer{
    background: var(--header-color);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.container{
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
}

.links{
    display: inline-flex;
    text-align: center;
    margin: 10px auto;
}
.link{
    border-radius: 40px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.link.vk{
    background: cornflowerblue;
}

.link.ok{
    background: orange;
}

.link:hover{
    opacity: 0.8;
}